doctype html
html
/ FIXME: title not displaying yet. do I set the title? from todo_list_app %>    
== @title

/ FIXME: don't think these flash notices work yet. got them from another tutorial
- if flash[:notice]
  p class="notice" flash[:notice]

- if flash[:error]
  p class="error" flash[:error]

== yield
