doctype html
html

/ FIXME: title not displaying yet. do I set the title? from todo_list_app    

/ FIXME: don't think these flash notices work yet. got them from the todo_list_app tutorial; project in home dir.
- if flash[:notice]
  p class="notice" flash[:notice]

- if flash[:error]
  p class="error" flash[:error]
  
  
head 
<!-- bootstrap.min.css is latest compiled and minified CSS --> 
<!-- bootstrap-theme.min.css is an optional theme -->
/ this is added from a helper method named 'css' in app.rb
== css :"./css/bootstrap.min.css", :"./css/bootstrap-theme.min.css"


body

<!-- Latest Jquery -->
script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"

<!-- Latest compiled and minified JavaScript -->
script src="/js/bootstrap.min.js" 

== yield
