<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>My Recipes</title>
  </head>
  <body>

<%# FIXME: title not displaying yet. do I set the title? from todo_list_app %>    
<%= @title %>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %>
<% end %>

<% if flash[:error] %>
  <p class="error"><%= flash[:error] %>
<% end %>

<%= yield %>

</body>
</html>
